#root {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background: rgba(128, 128, 128, 0.158);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstDiv {
  background-size: cover;
  display: flex;
  justify-content: right;
}

/* .icon {
  /* position: absolute;
  left: 61%;
  top: 15%; */
*/

.section1 {
  line-height: 1.5rem;
  margin: 10px;
}

span {
  font-size: 180%;
  font-weight: 500;
}


  .bedroom {
    font-size: 120%;
  font-weight: 400;
  margin-left: 4%;
  }

  .bathroom {
    font-size: 120%;
  font-weight: 400;
  margin-left: 20%;
  }

  .avatar {
    width: 15%;
    height: 50%;
    border-radius: 50%;
    float: left;
    margin-left: 2%;
  }

  .section3 {
    /* float: right; */
    margin-left: 10%;
    font-size: 120%;
  font-weight: 400;
  }

  #name {
    font-weight: 600;
  }

  #num {
    font-weight: 800;
    font-size: 120%;
  
  }